<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - WDWatchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>WDDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WDWatchDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>766E10331BF96D6800D18820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766E104F1BF96D6800D18820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>766E105A1BF96D6800D18820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76BA90691C04389A0075873D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
